body {
  margin: 0;
  background-color: white;
  font-family: "Marvel", bold;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em;
}
nav p {
  color: white;
}
nav div {
  display: inline-block;
}
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  padding-right: 4em;
}
nav a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

.desktopnav p {
  display: inline-block;
}

#mobileNav {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #e8afc9;
  color: white;
  padding: 0px;
  font-size: 20px;
}

header p {
  margin: 0;
}

header h1{
font-size: 45px;
text-align: left;
margin:0;
}

iframe {
  width: 100%;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
  color: black;
  text-align: center;
}
section p {
  padding: 1em;
}
h2 + p {
  text-align: center;
}
section a {
  text-align: center;
  color: coral;
}

/*.coverscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110vh;
  background-image: url("./img/noemibnsinlogo.png");
  background-repeat: no-repeat;
  background-size: auto;*/
}

/*.coverscreen img {
  widows: 100vw;
}*/

.coverscreen p,
h1 {
  color: #757375;
  font-size: 40px;
  top: 20%;
  left: 10%;
  transform: translate(-10%, -10%);
  position: absolute;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28vh;
}

.logo a:hover {
  color: pink;
}

.text {
  display: flex;
  vertical-align: top;
  text-align: justify;
}

.gridhome {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0.5em 0.5em;
  align-items: center;
}

.gridhome img {
  width: 100%;
  display: block;
  height: auto;
  
}

h1 {
font-size: 45px;
text-align: center;
margin:0;
/*color:#e8afc9;*/
}

.grid2 {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 1em;
  margin: 1em 1em;
}
.grid2 img {
  width: 100%;
}
.grid2 p {
  display: flex;
  vertical-align: top;
  text-align: justify;
}

.grid2 h4 {
  text-align: center;
  font-size: 16px;
}

#expertise {
  background-color: white;
}

.project a,
.btn {
  padding: 0.5em 1em;
  background-color: transparent;
  border: 2px #fddbf6 solid;
  color: #fddbf6;
  text-decoration: none;
  border-radius: 2px;
  font-size: 1rem;
  text-transform: uppercase;
}

.project a:hover,
.btn:hover {
  background-color: #fddbf6;
  color: #8a888a;
}

.fab {
  font-size: 3rem;
  padding-right: 20px;
}

.grid {
  background-color: white;
  padding: 1em;
  color: #444;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  position: relative;
  bottom: 5vw;
}

.project {
  background-repeat: no-repeat;
  background-size: cover;
  height: 39vw;
}

.project img {
  width: 100%;
}

.project > div {
  color: white;
  text-align: center;
  padding: 0.5em;
  opacity: 0;
  background-color: #000000d6;
  backdrop-filter: blur(1px);
  height: 35.5vw;
}
.project:hover > div {
  opacity: 1;
}

.ea {
  background-image: url("./img/desk2.png");
}
.ib {
  background-image: url("./img/markets.png");
}
.lh {
  background-image: url("./img/luxury.png");
}
.tech {
  background-image: url("./img/code.png");
}
.sea {
  background-image: url("./img/yacht1.png");
}
.art {
  background-image: url("./img/classiccar.png");
}


.insignia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  
  align-items: center;
  grid-gap:30px;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}

/*#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 0px;
}*/

.hamburger {
  position: relative;
  display: inline-block;
  }

.hamburger-content {
  width: 100%;
  display: none;
  position: absolute;
  left:0;
  z-index:1;
  }

.hamburger-content a {
  color: white;
  text-decoration: none;
  padding: 1em;
}

.hamburger:hover .hamburger-content { 
  display: block;
  background-color:#e8afc9;
  width: 100vw;
  }

.hamburger span {
  font-size: 2.5rem;
  color: black;
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
  }

.hamburger:hover span {
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
  }



/* media queries */

/* for screen less than 460px */
    
@media all and (max-width: 460px) {

  #desktopnav {
    display: none;
  }
  #mobileNav {
    display: block;
  }

  .gridhome {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 0.5em 0.5em;
    align-items: center;
}

  .gridhome img {
    width: 100%;
    display: block;
    height: auto;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin:0;
}
  
  section {
    padding: 10px;
  }
  header {
        min-height: 50vw;
  }

  header > div {
      text-align: center;
      padding: 5px;
  }

  .grid2 {
    grid-template-columns: 1fr;
    margin: 0;
  }
  /*.grid3 {
    grid-template-columns: 1fr;
  }
  
    
  #about {
    grid-template-columns:1fr;
  }
    
  #about img {
    padding: 0;
  }*/
    
  .grid {
    grid-template-columns:1fr;
    position: unset;
  }
  
  .insignia {
    grid-template-columns:1fr;
  }
  
  .project {
    height: 100vw;
  }
    
  .project div {
    color: yellow;
    text-align: center;
    height: 100vw;
  }
    
    html {
    font-size: smaller;
  }
    
}
    
@media (min-width:460px) and (max-width:900px) {

  #desktopnav {
    display: none;
  }
  #mobileNav {
    display: block;
  }
 
  .gridhome {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 0.5em 0.5em;
    align-items: center;
}

  .gridhome img {
    width: 100%;
    display: block;
    height: auto;
}

  h1 {
  font-size: 30px;
  text-align: center;
  margin:0;
}
 
  section {
  padding:10px;
  }
 
  header {
 min-height: 50vw;
  }
 
 header > div {
  text-align: center;
  padding: 10px;
  }
 
 #about {
 grid-template-columns:1fr;
  }
 
  #about img {
  padding: 0;
  }
 
  .grid2 {
  grid-template-columns:1fr;
  margin: 0;
  }
 
  .grid {
  grid-template-columns:1fr;
  position: unset;
  }

  .insignia {
  grid-template-columns:1fr;
  }

  .project div {
  color: yellow;
  text-align: center;
  height: 70vw;
  }
 
 .project button {
  width: 100%;
  margin-bottom: 5px;
  }
 
 .project {
  height: 100vw;
  }
  
  html {
 font-size: smaller;
 }
 
}
  
  